body {
	font-size: 18px;
	max-width: 800px;
	margin: auto;
	background-color: #181818;
	color: #d8d8d8;
	line-height: 1.5;
}
a {
	color: #dc9656;
}
.center {
	text-align: center;
}
.squeezeUp {
	margin-top: 0;
}
.squeezeDown {
	margin-bottom: 0;
}
