<!doctype html>
<html>
	<head>
		<title>
			Exocomets
		</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body class="center">
		{% include 'header.html' %}
		<h3>Exocomets is a game I made about running away from constantly spawning comets.<br>It features music from myself, Ethan "ethanpiedude" Pesikoff, Andy "KeyboardFire" Tockman, and Mark "marchimedes" Trautner.</h3>
		<p>I made it from December 2016 to August 2017 in C++ with no libraries aside from SDL.</p>
		<br>
		<h3>To see more, <a href="https://store.steampowered.com/app/655950/Exocomets/">visit the Steam page</a> or <a href="/WIP">read my press release</a>.</p>
	</body>

</html>
