<style>
#header {
	list-style: none;
	margin: 6px 0;
	padding: 0;
	border-bottom: #d8d8d8 1px solid;
}
.header-li {
	width: 100%;
}
</style>
<ul id='header' class="center">
	<li class="header-li"><a href="/">Home</a></li>
</ul>
