<!doctype html>
<html>
	<head>
		<title>
			matthewpipie's website
		</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		{% include 'header.html' %}
		<h3 class="center">Hi everyone! I'm Matthew Giordano (matthewpipie), a programmer who aims to make useful products and fun games.</h3>
		<br>
		<p>Portfolio:</p>
		<ul>
			<li><a href="/block-schedule-helper">Block Schedule Helper</a></li>
			<li><a href="/exocomets/">Exocomets</a></li>
			<li><a href="/spotify-playlist-cleaner/">Spotify Playlist Cleaner</a></li>
			<li><a href="/sjs/commserv">SJS CommServ App</a></li>
			<li><a href="/sjs/review">SJS Review App</a></li>
		</ul>
		<br>
		<p>Contact:</p>
		<ul>
			<li>Email: matthewpipie@gmail.com</li>
			<li><a href="https://gitlab.com/matthewpipie">GitLab</a></li>
			<li><a href="https://twitter.com/matthewpipie">Twitter (virtually unused)</a></li>
		</ul>
	</body>

</html>
