<!doctype html>
<html>
	<head>
		<title>
			matthewpipie's website
		</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		{% include 'header.html' %}
		<p>This project is a WIP and will be released soon.</p>
	</body>

</html>
