<!doctype html>
<html>
	<head>
		<title>
			matthewpipie's website
		</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		{% include 'header.html' %}
		<h3 class="center">Block Schedule Helper is a free app to help students manage their schedules.</h3>
		<br>
		<p>For more info, check out the app store pages and download:</p>
		<ul>
			<li><a href="https://itunes.apple.com/us/app/block-schedule-helper/id1143210357?mt=8">iOS</a></li>
			<li><a href="https://play.google.com/store/apps/details?id=net.ddns.matthewpipie.BlockScheduleApp">Android</a></li>
		</ul>
		<p><a href="https://gitlab.com/matthewpipie/BlockScheduleHelper">Source Code</a></p>
	</body>

</html>
