<!doctype html>
<html>
	<head>
		<title>
			Spotify Playlist Cleaner
		</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
		<script src="{{ url_for('static', filename='js/auth-callback.js') }}"></script>
	</head>
	<body>
		{% include 'header.html' %}
		<div class="center">
		<h3>Paste your Spotify Playlist URI Here:</h3>
		<p>To get a Spotify Playlist URI, right click on your Spotify playlist, click on Share, and click Copy Spotify URI.</p>
		<form action="/spotify-playlist-cleaner/submit" method="post">
			<input type='text' name='uriInput' />
			<input type="hidden" name="token" id="tokenField" />
			<input type="submit" value="Submit" />
		</form>
		</div>
	</body>




</html>
