<!doctype html>
<html>
	<head>
		<title>
			Spotify Playlist Cleaner
		</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		{% include 'header.html' %}
		<div class="center">
			<h2 class="squeezeDown">Spotify Playlist Cleaner is a tool to clean your spotify playlists.</h2>
			<p class="squeezeUp">It creates a new playlist that contains the clean version of all the songs in the specified playlist.</p>
			<h3>To begin,<br><a href='{{ hrefUrl }}'>Log in to Spotify</a></h3>
		</div>
		<p>Made by matthewpipie.</p>
	</body>
</html>
