<!doctype html>
<html>
	<head>
		<title>
			Spotify Playlist Cleaner
		</title>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
		<script src="{{ url_for('static', filename='js/processing.js') }}"></script>
		<style>
#successes, #failures {
	text-align: left;
}
.ib {
	display: inline-block;
	width: 50%;
	text-align: center;
}
.ibf {
	float: right;
}
		</style>
	</head>
	<body>
		{% include 'header.html' %}
		<p class="center" id='doneText'>Processing...</p>
		<div class="ib">
		<p>Successes: <span id='succNum'></span></p>
		<ul id="successes"></ul>
		</div>
		<div class="ib ibf">
		<p>Failures: <span id='failNum'></span></p>
		<ul id="failures"></ul>
		</div>
	</body>




</html>
